/*  .table-view{
    -fx-background-color: transparent;
}

.table-view .label {
    -fx-font-style: italic;
    -fx-font-size: 10.0 pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
        -fx-background-radius: 5.0,4.0,3.0,5.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-column .label{
    -fx-font-size: 16.0 pt;
    -fx-background-color: transparent;
    -fx-label-line-length: 8.0;
    -fx-text-fill:  #f0f8ff;
}*/